{%  extends "main_base.html" %}

{%  block title %} Listing Previous Risk Quantification Analysis {% endblock %}

{% block content %}

    <main class="content">
        <div class="main">
        {{ message }}

            <div class="main"></div>
          <table id="datalist">
              <tr>
                  <th>Analysis</th>
                  <th>Description</th>
                  <th>Date Created</th>
                  <th>Actions</th>
              </tr>
          {% if setanalysis|length %}
              {%  for analysis in setanalysis %}
                  <tr>
                  <td>{{ analysis.name }}</td>
                  <td>{{ analysis.description }}</td>
                  <td> {{ analysis.datecreated }}</td>
                  <td><a href="/analysis/{{ analysis.name }}"> edit </a>  - delete</td>
                  </tr>
              {% endfor %}
          {% else %}
              <tr><td colspan=3>No analysis performed yet.</td></tr>
          {%  endif %}
          </table>
        </div>
     <div class="rightobject"><a href="/analysisnew" class="buttonanim" style="vertical-align: middle">
                <span> Start New Analysis</span> </a></div>
    </main>
{% endblock content%}
