{%  extends "main_base.html" %}

{%  block title %} Listing Users {% endblock %}

{% block content %}

    <main class="content">

        <div class="main">
              Result:
          <table id="datalist">
              <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Actions</th>
              </tr>
          {% if users|length %}
              {%  for user in users %}
                  <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                      <td><a href="/user/{{ user.name }}"> edit </a>  - delete</td>
                  </tr>
              {% endfor %}
          {% else %}
              <tr><td colspan:3>No users found</td></tr>
          {%  endif %}
          </table>
        </div>

    </main>
{% endblock content%}
